<%- include('header') -%>

<h1><%= title %></h1>

<%- include('events') -%>

<%- include('paging') -%>

<% if (!loggedIn) { %>
  <%- include('user-info') -%>

<% }
else { %>
  <p>Innskráð/ur sem <%= username %>
  <br><a class="link__link" href="/logout">Útskráning</a>
  <% if (admin) { %>
    <a class="link__link" href="/admin">Stjórnborð stjórnanda</a>
  <% } %>
<% } %>

<%- include('footer') -%>
